<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-12 card-container">
      <div class="card d-block">
        <div class="card-body px-5">
          <h5 class="card-title pt-4 pb-1">Create your Email Account</h5>
          <p class="card-text">Send and receive emails today</p>

          <!-- form -->
          <form [formGroup]="authForm">
            <div class="form-group pb-3">
              <label class="pb-1">Username</label>
              <input
                formControlName="username"
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group pb-3">
              <label class="pb-1">Password</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
              />
            </div>
            <div class="form-group pb-3">
              <label class="pb-1">Confirm Password</label>
              <input
                formControlName="passwordConfirmation"
                type="password"
                class="form-control"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-4 mt-1">
              Sign Up
            </button>
          </form>
          <!-- end form -->
        </div>
      </div>
    </div>
  </div>

  <div>is Invalid? {{ authForm.invalid }}</div>
  <div>all errors {{ authForm.errors | json }}</div>
  <div>errors: {{ authForm.get("username")?.errors | json }}</div>
  <div>errors: {{ authForm.get("password")?.errors | json }}</div>
  <div>errors: {{ authForm.get("passwordConfirmation")?.errors | json }}</div>
</div>
